#pn-feed-stories label {
	font-size: 1.0em;
	font-weight: bold;
	margin-bottom: 5px;
}

#pn-feed-stories input {
	margin-top: 5px;
	margin-bottom: 5px;
}

#pn-phrases-to-remove p {
	font-size: 0.8em;
}

#pn-phrases-to-remove pre {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}